<script defer src="funciones.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #container-slider {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10vh;
    }

    #slider {
      min-height: 340px;
      margin-bottom: 0px;
    }

    #slider li {
      position: absolute !important;
      left: 0 !important;
      width: 100%;
      height: auto;
      display: block;
      z-index: -1;
      opacity: 0;
    }

    .arrowPrev {
      right: 100px;
      margin-right: 10px;
    }

    .arrowPrev:hover,
    .arrowNext:hover {
      text-decoration: none;
    }

    #container-slider .arrowPrev,
    #container-slider .arrowNext {
      color: gray;
      background-color: white;
      border-radius: 6px;
      border: 1px solid gray;
      height: 40px;
      cursor: pointer;
      z-index: 2;
      width: 41px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 900;
    }

    .container-arrows {
      display: flex;
      justify-content: flex-end;
      margin-right: 100px;
    }

    .arrowNext {
      right: 50px;
    }

    .content_slider {
      padding: 15px 30px;
      color: black;
      width: 100%;
      height: 100%;
    }

    .content_slider {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content_slider h2 {
      font-family: 'arial';
      font-size: 30pt;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .content_slider p {
      font-size: 1rem;
      font-family: 'arial';
      color: black;
      margin-bottom: 0px;
    }

    .grad3-back {
      display: flex;
      gap: 10px;
      align-items: flex-end;
      justify-content: center;
    }

    .container-item {
      margin-bottom: 3px;
      display: flex;
      gap: 10px;
      flex-direction: row;
    }

    #slider li .content_slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .content_slider {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btnSlider {
      color: black;
      font-size: 15pt;
      font-family: 'arial';
      letter-spacing: 1px;
      padding: 10px 50px;
      border: 1px solid #CCC;
      background: rgba(37, 40, 80, 0.55);
      border-radius: 31px;
      text-decoration: none;
      transition: .5s all;
    }

    .btnSlider:hover {
      background: #111;
      border: 1px solid #111;
    }

    .listslider {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      z-index: 2;
      margin-bottom: 20px;
      margin-top: 100px;
    }

    .listslider li {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      cursor: pointer;
      margin: 0 5px;
    }

    .listslider li a {
      background: #FFB937;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      display: block;
    }

    .item-select-slid {
      background: green !important;
    }

    .card-img {
      width: 100%;
    }

    @media screen and (max-width: 460px) {
      .content_slider h2 {
        font-size: 15pt !important;
      }

      #container-slider .arrowPrev,
      #container-slider .arrowNext {
        font-size: 20pt;
      }

      #container-slider .arrowNext {
        right: 15px !important;
      }

      #slider {
        height: 400px;
        min-height: 400px;
      }

      #slider li .content_slider {
        padding: 10px 35px;
      }

      .btnSlider {
        padding: 10px 30px;
        font-size: 10pt;
      }

      .grad3-back {
        flex-direction: column;
        align-items: center;
      }

      .listslider {
        bottom: -10%;
      }
    }
  </style>

  <section id="container-slider">
    <div class="container-arrows">
      <a href="javascript: funcionEjecutar('anterior');" class="arrowPrev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2D3748" aria-hidden="true" focusable="false"><path d="m8.5 12.8 5.7 5.6c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-4.9-5 4.9-5c.4-.4.4-1 0-1.4-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-5.7 5.6c-.4.5-.4 1.1 0 1.6 0-.1 0-.1 0 0z"></path>
        </svg>
      </a>

      <a href="javascript: funcionEjecutar('siguiente');" class="arrowNext">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2D3748" aria-hidden="true" focusable="false"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path>
        </svg>
      </a>
    </div>

    <ul id="slider">

<!-- Title -->
<div>
    <h2 class="chakra-heading css-15xyakp text-center"><b>Revive las celebraciones de años anteriores.</b></h2>
</div>

 <!-- * Card 1 * -->     
      <li style="opacity: 1;">
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2023</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_48_fe628969ce.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=VFS4CiuW2R4&t=9s"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

 <!-- * Card 2 * -->   
      <li>
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2023</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_50_4e80cf21c3.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=cLiehp5RxIc"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

 <!-- * Card 3 * -->   
      <li>
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2022</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_49_2221e2355d.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=-nt-RL8fL9U"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

<!-- * Card 4 * -->     
      <li>
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2021</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_48_fe628969ce.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=A-nmVZWlro8"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

 <!-- * Card 5 * -->   
      <li>
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2021</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_50_4e80cf21c3.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=owIk3FZHUpo"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

 <!-- * Card 6 * -->   
      <li>
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2020</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_49_2221e2355d.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=-nt-RL8fL9U"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

<!-- * Card 7 * -->     
      <li>
        <div class="content_slider col-12 col-md-4">
          <h5 class="card-title text-center"><b>Graduación 2019</b></h5>
          <div class="card">
            <div class="card-img">
              <!-- IMG -->
              <img src="https://cmsutel.s3.amazonaws.com/image_48_fe628969ce.png" alt="Graduación 2023">
            </div>
            <div class="row grad3-back">
              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.4899 10.1901L20.4899 9.64008L11.4899 4.64008H11.3799C11.3186 4.61416 11.255 4.59407 11.1899 4.58008H10.9999H10.8199C10.7516 4.59408 10.6846 4.61416 10.6199 4.64008H10.5099L1.50988 9.64008C1.35598 9.7273 1.22797 9.85378 1.13891 10.0066C1.04985 10.1595 1.00293 10.3332 1.00293 10.5101C1.00293 10.687 1.04985 10.8607 1.13891 11.0135C1.22797 11.1664 1.35598 11.2929 1.50988 11.3801L3.99988 12.7601V17.5001C3.99988 18.2957 4.31595 19.0588 4.87856 19.6214C5.44117 20.184 6.20423 20.5001 6.99988 20.5001H14.9999C15.7955 20.5001 16.5586 20.184 17.1212 19.6214C17.6838 19.0588 17.9999 18.2957 17.9999 17.5001V12.7601L19.9999 11.6401V14.5001C19.9999 14.7653 20.1052 15.0196 20.2928 15.2072C20.4803 15.3947 20.7347 15.5001 20.9999 15.5001C21.2651 15.5001 21.5194 15.3947 21.707 15.2072C21.8945 15.0196 21.9999 14.7653 21.9999 14.5001V11.0601C21.9996 10.8829 21.9522 10.7089 21.8626 10.5561C21.773 10.4032 21.6443 10.2769 21.4899 10.1901ZM15.9999 17.5001C15.9999 17.7653 15.8945 18.0196 15.707 18.2072C15.5194 18.3947 15.2651 18.5001 14.9999 18.5001H6.99988C6.73466 18.5001 6.48031 18.3947 6.29277 18.2072C6.10524 18.0196 5.99988 17.7653 5.99988 17.5001V13.8701L10.5099 16.3701L10.6599 16.4301H10.7499C10.8329 16.4405 10.9169 16.4405 10.9999 16.4301C11.0829 16.4405 11.1669 16.4405 11.2499 16.4301H11.3399C11.393 16.4189 11.4437 16.3986 11.4899 16.3701L15.9999 13.8701V17.5001ZM10.9999 14.3601L4.05988 10.5001L10.9999 6.64008L17.9399 10.5001L10.9999 14.3601Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">10.000 graduados</p>
              </div>

              <div class="container-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19 6H16V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V6H5C4.20435 6 3.44129 6.31607 2.87868 6.87868C2.31607 7.44129 2 8.20435 2 9V18C2 18.7956 2.31607 19.5587 2.87868 20.1213C3.44129 20.6839 4.20435 21 5 21H19C19.7956 21 20.5587 20.6839 21.1213 20.1213C21.6839 19.5587 22 18.7956 22 18V9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6ZM10 5H14V6H10V5ZM20 18C20 18.2652 19.8946 18.5196 19.7071 18.7071C19.5196 18.8946 19.2652 19 19 19H5C4.73478 19 4.48043 18.8946 4.29289 18.7071C4.10536 18.5196 4 18.2652 4 18V12.39L8.68 14C8.78618 14.0144 8.89382 14.0144 9 14H15C15.1084 13.998 15.2161 13.9812 15.32 13.95L20 12.39V18ZM20 10.28L14.84 12H9.16L4 10.28V9C4 8.73478 4.10536 8.48043 4.29289 8.29289C4.48043 8.10536 4.73478 8 5 8H19C19.2652 8 19.5196 8.10536 19.7071 8.29289C19.8946 8.48043 20 8.73478 20 9V10.28Z"
                    fill="black" />
                </svg>
                <p class="grad3-p">+50 programas</p>
              </div>

              <a href="https://www.youtube.com/watch?v=r3JqAxtCaHM"><img src="https://cmsutel.s3.amazonaws.com/Bloque3_graduacion_3_Verlive_1094b91be1.png"></a>

            </div>
          </div><br>
        </div>
      </li>

    </ul>

    <ul class="listslider">
      <li><a itlist="itList_0" href="#" class="item-select-slid"></a></li>
      <li><a itlist="itList_1" href="#"></a></li>
      <li><a itlist="itList_2" href="#"></a></li>
      <li><a itlist="itList_3" href="#"></a></li>
      <li><a itlist="itList_4" href="#"></a></li>
      <li><a itlist="itList_5" href="#"></a></li>
      <li><a itlist="itList_6" href="#"></a></li>
    </ul>
  </section>


<!-- ** Scripts ** -->
<script>
  
    if (document.querySelector('#container-slider')) {
      setInterval('funcionEjecutar("siguiente")', 5000);
    }

    //------------------------------ LIST SLIDER -------------------------
    if (document.querySelector('.listslider')) {
      let link = document.querySelectorAll(".listslider li a");
      link.forEach(function (link) {
        link.addEventListener('click', function (e) {
          e.anteriorentDefault();
          let item = this.getAttribute('itlist');
          let arrItem = item.split("_");
          funcionEjecutar(arrItem[1]);
          return false;
        });
      });
    }

    function funcionEjecutar(side) {
      let parentTarget = document.getElementById('slider');
      let elements = parentTarget.getElementsByTagName('li');
      let curElement, siguienteElement;
      for (var i = 0; i < elements.length; i++) {
        if (elements[i].style.opacity == 1) {
          curElement = i;
          break;
        }
      }

      if (side == 'anterior' || side == 'siguiente') {
        if (side == "anterior") {
          siguienteElement = (curElement == 0) ? elements.length - 1 : curElement - 1;
        } else {
          siguienteElement = (curElement == elements.length - 1) ? 0 : curElement + 1;
        }

      } else {
        siguienteElement = side;
        side = (curElement > siguienteElement) ? 'anterior' : 'siguiente';
      }

      //PUNTOS INFERIORES
      let elementSel = document.getElementsByClassName("listslider")[0].getElementsByTagName("a");
      elementSel[curElement].classList.remove("item-select-slid");
      elementSel[siguienteElement].classList.add("item-select-slid");
      elements[curElement].style.opacity = 0;
      elements[curElement].style.zIndex = 0;
      elements[siguienteElement].style.opacity = 1;
      elements[siguienteElement].style.zIndex = 1;
    }

</script>
